/*
Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss

Backtrace:
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `read'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:454:in `update_stylesheet'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `each'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin/compiler.rb:294:in `watch'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/plugin.rb:109:in `method_missing'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:358:in `watch_or_update'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:51:in `process_result'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
C:/Ruby27-x64/lib/ruby/gems/2.7.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
C:/Ruby27-x64/bin/sass:23:in `load'
C:/Ruby27-x64/bin/sass:23:in `<main>'
*/
// body:before {
//   white-space: pre;
//   font-family: monospace;
//   content: "Errno::ENOENT: No such file or directory @ rb_sysopen - style.scss"; }

// colors
$dark:rgb(11, 11, 72);
$medium:rgb(6, 6, 91);
$light:#f7f6fd;
$focus: blue;
$btn-color: #c9c9ec;
$btn-hover: #a8a8d9;
$btn-active: #9494c7;
$red: red;
$green: green;

// margin, padding
$margin-normal: 10px;
$padding-normal: 5px;

// font size
$small: 12px;

form {
    display: grid;
    grid-template-areas: 
    'a a'
    'b c'
    'e e'
    'd d';
}

fieldset, .common-info-inputs {
    display: flex;
    flex-direction: column;
    background-color: $light;
}

.common-info {
    grid-area: a;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.common-info {
    div {
        margin-right: $margin-normal;
    }
}

.address-group {
    grid-area: b;
}

.pass-group {
    grid-area: c;
}

legend {
    font-weight: bold;
    color: $dark;
}

input, select {
    margin-top: $margin-normal; 
    padding: $padding-normal;
    width: 92%;
}

select {
    width: 95%;
}

option {
    padding: $padding-normal;
}

h3 {
    margin-top: $margin-normal;
    margin-bottom: $margin-normal;
    color: $medium;
}

.sms-label {
    align-self: center;
}

input:focus, input:focus-visible, select:focus, select:focus-visible {
    outline: 1px solid $focus;
}

input[type='radio']:focus, input[type='radio']:focus-visible, input[type='checkbox']:focus, input[type='checkbox']:focus-visible {
    outline: none;
    border: none;
}

input[type='radio'] {
    width: 15px;
}

.submit {
    grid-area: d;
    margin: auto;
    padding: $padding-normal $margin-normal;
    color: $dark;
    margin-top: $margin-normal;
    background-color: $btn-color;
}

.submit:hover {
    background-color: $btn-hover;
}

.submit:active {
    background-color: $btn-active;
}

label.required, label.optional {
    display: flex;
}

.required::after, .optional::after {
    color: $red;
    content: ' * ';
}

.optional::after {
    visibility: hidden;
}

label.birthdate, label.pass-date-label {
    display: grid;
    grid-template-areas: 
    'a c'
    'b b';
    padding-right: 8px;
    margin-top: $margin-normal;
}

input[placeholder='Дата рождения'], input[placeholder='Дата выдачи'] {
    grid-area: b;
}

.birthdate::after, .pass-date-label::after {
    grid-area: c;
    justify-self: end;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input.invalid {
    outline: 1px solid $red;
}

input.valid {
    outline: 1px solid $green;
}


.must-mark, .error-message {
    color: $red;
}

.error-message {
    margin: $margin-normal 0;
    margin-bottom: 0;
    font-size: $small;
}

.success-sent {
    color: green;
    grid-area: e;
    margin: auto;
    margin-top: $margin-normal;
}

.d-none {
    display: none;
}

@media (max-width: 460px) {
    form {
        grid-template-areas: 
        'a'
        'b'
        'c'
        'e'
        'd';
    }

    .common-info {
        flex-direction: column;
    }
}
